/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a,
a:visited {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Champagne-&-Limousines-Regular';
}

.container {
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 899px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 599px) {
  .container {
    width: 100%;
  }
}

@font-face {
  font-family: 'Champagne-&-Limousines-Regular';
  src: local("Champagne-&-Limousines-Regular"), url(./../fonts/Champagne-&-Limousines.woff) format("woff");
}
.logo {
  display: block;
  background-image: url(./../img/Header/logo.png);
  width: 229px;
  height: 56px;
  background-repeat: no-repeat;
  background-size: cover;
  /*Mobile XS media */
}
@media (max-width: 599px) {
  .logo {
    width: 118px;
    height: 29px;
  }
}

.title {
  font-size: 40px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 1.24px;
  color: #000000;
}
.title--mobile {
  font-size: 13px;
}

.slider {
  width: 100%;
}

.slider__container {
  padding-right: 50px;
  padding-left: 50px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .slider__container {
    width: 900px;
  }
}
@media (max-width: 899px) {
  .slider__container {
    width: 600px;
  }
}
@media (max-width: 599px) {
  .slider__container {
    width: 100%;
  }
}

.slider__item {
  position: relative;
}

.slider__item-image {
  width: 100%;
  margin-bottom: 20px;
}

.slider__item-note {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 1.12px;
  text-transform: uppercase;
  color: #EFD2C2;
  background: #2D3538;
  padding: 10px 37px;
  /*Mobile XS media */
}
@media (max-width: 599px) {
  .slider__item-note {
    padding: 4px 15px;
  }
}

.slider__item-title {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  color: #000000;
  margin-bottom: 15px;
}

.slider__item-price {
  font-size: 20px;
  line-height: 1.15;
  color: #000000;
}

.slider__prev {
  position: absolute;
  top: 41%;
  left: 19px;
  background-image: url(../img/slider/prev.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  cursor: pointer;
  /*Mobile media */
}
@media (max-width: 899px) {
  .slider__prev {
    background-image: url(../img/slider/prev-mobile.svg);
    width: 20px;
    height: 28px;
  }
}

.slider__next {
  position: absolute;
  top: 41%;
  right: 0;
  background-image: url(../img/slider/next.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  cursor: pointer;
  /*Mobile media */
}
@media (max-width: 899px) {
  .slider__next {
    background-image: url(../img/slider/next-mobile.svg);
    width: 20px;
    height: 28px;
    right: 12px;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 16px;
  line-height: 0.8;
  color: #2D3538;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*Mobile media */
}
@media (max-width: 899px) {
  .header__list {
    display: none;
  }
}

.header__list a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #000;
}
.header__list a:hover {
  color: #EFD2C2;
}

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
}

.header__tel {
  color: #EFD2C2;
  font-size: 18px;
  line-height: 0.85;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  /*Mobile media */
}
.header__tel:hover {
  color: #e2c0ad;
}
@media (max-width: 899px) {
  .header__tel {
    display: none;
  }
}

.header__search {
  width: 12px;
  height: 12px;
}

.header__bag {
  width: 12px;
  height: 12px;
}

.header__banner {
  background-image: url(./../img/Header/banner.png);
  height: 825px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .header__banner {
    height: 600px;
  }
}
@media (max-width: 899px) {
  .header__banner {
    height: 500px;
  }
}
@media (max-width: 599px) {
  .header__banner {
    background-image: url(./../img/Header/banner-mobile.png);
    height: 100%;
  }
}

.header__banner-wrapper {
  padding-top: 230px;
  padding-bottom: 306px;
  /*Tablet media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .header__banner-wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (max-width: 599px) {
  .header__banner-wrapper {
    padding-top: 245px;
    padding-bottom: 41px;
    text-align: center;
  }
}

.header__title {
  font-size: 55px;
  line-height: 63px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 50px;
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 899px) {
  .header__title {
    font-size: 45px;
  }
}
@media (max-width: 599px) {
  .header__title {
    font-size: 35px;
    line-height: 40px;
    color: #fff;
    margin-bottom: 20px;
  }
}

.header__subtitle {
  font-size: 29px;
  line-height: 33px;
  color: #000000;
  max-width: 473px;
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 899px) {
  .header__subtitle {
    font-size: 25px;
  }
}
@media (max-width: 599px) {
  .header__subtitle {
    font-size: 13px;
    text-align: center;
    color: #fff;
  }
}

.header__button {
  display: inline-block;
  padding: 18px 28px;
  margin-top: 50px;
  font-size: 20px;
  line-height: 0.86;
  color: #000000;
  border: 1px solid #EFD2C2;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  /*Mobile XS media */
}
.header__button:hover {
  background: #EFD2C2;
}
@media (max-width: 599px) {
  .header__button {
    padding: 8px 7px;
    font-size: 11px;
    color: #EFD2C2;
    background: #2D3538;
    border: none;
  }
}

.header__offer {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #2D3538;
  font-size: 40px;
  line-height: 0.86;
  color: #EFD2C2;
  text-align: center;
  /*Mobile media */
  /*Mobile XS media */
  /*Mobile XS media */
}
@media (max-width: 899px) {
  .header__offer {
    font-size: 30px;
  }
}
@media (max-width: 599px) {
  .header__offer {
    font-size: 25px;
  }
}
@media (max-width: 599px) {
  .header__offer {
    font-size: 15px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.products {
  padding-top: 112px;
  padding-bottom: 140px;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .products {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (max-width: 899px) {
  .products {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .products {
    padding-top: 30px;
  }
}

.products__icon {
  cursor: pointer;
}

.products__icon:hover .products__icon-image img {
  -webkit-filter: blur(1px);
          filter: blur(1px);
  opacity: 0.3;
}

.products__icon-image {
  position: relative;
  width: 100%;
  height: 100%;
  background: #2D3538;
  /*Tablet media */
  /*Mobile media */
}
@media (max-width: 1199px) {
  .products__icon-image {
    width: 400px;
  }
}
@media (max-width: 899px) {
  .products__icon-image {
    width: 100%;
  }
}

.products__icon-image img {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.products__icon-text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.products__icon-text {
  width: 333px;
  font-size: 30px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: #EFD2C2;
  /*Mobile media */
}
@media (max-width: 899px) {
  .products__icon-text {
    width: 100%;
  }
}

.products__icon:hover .products__icon-text-wrapper {
  opacity: 1;
}

.products__icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*Mobile XS media */
}
@media (max-width: 599px) {
  .products__icon-wrapper {
    gap: 0;
  }
}

.products__slider {
  padding-top: 140px;
  padding-bottom: 81px;
  /*Tablet media */
  /*Mobile media */
}
@media (max-width: 1199px) {
  .products__slider {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (max-width: 899px) {
  .products__slider {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.products__title {
  margin-bottom: 36px;
}

.subscription {
  padding-top: 77px;
  padding-bottom: 77px;
  background: #EFD2C2;
}

.subscription__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 256px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*Tablet media */
  /*Mobile media */
}
@media (max-width: 1199px) {
  .subscription__wrapper {
    gap: 150px;
  }
}
@media (max-width: 899px) {
  .subscription__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
}

.subscription__text {
  max-width: 564px;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 1.28px;
  /*Tablet media */
  /*Mobile media */
}
@media (max-width: 1199px) {
  .subscription__text {
    font-size: 30px;
  }
}
@media (max-width: 899px) {
  .subscription__text {
    text-align: center;
  }
}

.subscription__button {
  padding: 11px 64px;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  letter-spacing: 1.28px;
  color: #2D3538;
  background: #FFFFFF;
  cursor: pointer;
}

.about {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  /*Mobile media */
}
@media (max-width: 899px) {
  .about {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.about__title {
  margin-bottom: 67px;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  /*Tablet media */
}
@media (max-width: 1199px) {
  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
}

.about__image {
  width: 785px;
  /*Tablet media */
}
@media (max-width: 1199px) {
  .about__image {
    width: 100%;
  }
}

.about__image img {
  width: 100%;
}

.about__text img {
  max-width: 376px;
  margin-bottom: 60px;
  /*Tablet media */
  /*Mobile media */
}
@media (max-width: 1199px) {
  .about__text img {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 899px) {
  .about__text img {
    max-width: 170px;
  }
}

.about__text p {
  max-width: 482px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  margin-left: 133px;
  margin-bottom: 120px;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .about__text p {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    margin-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .about__text p {
    font-size: 16px;
  }
}
@media (max-width: 599px) {
  .about__text p {
    font-size: 13px;
  }
}

.about__text p:last-child {
  margin-bottom: 0;
}

.socials {
  max-width: 1577px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  /*Mobile media */
}
@media (max-width: 899px) {
  .socials {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.social__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 74px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*Mobile XS media */
}
@media (max-width: 599px) {
  .social__title {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.socials__icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 18px;
  -webkit-column-gap: 18px;
          column-gap: 18px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.socials__icon {
  cursor: pointer;
  max-width: 301px;
}

.socials__icon-none {
  /*Mobile XS media */
}
@media (max-width: 599px) {
  .socials__icon-none {
    display: none;
  }
}

.socials__icon:hover .socials__icon-image img {
  -webkit-filter: blur(1px);
          filter: blur(1px);
  opacity: 0.3;
}

.socials__icon-image {
  position: relative;
  width: 100%;
  height: 100%;
  background: #2D3538;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__icon-img-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.socials__icon:hover .socials__icon-img-wrapper {
  opacity: 1;
}

.socials__icon:hover .socials__icon-img-wrapper img {
  opacity: 1;
  -webkit-filter: none;
          filter: none;
}

.socials__icon-img img {
  width: 32px;
  height: 32px;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  /*Mobile media */
}
@media (max-width: 899px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 899px) {
  .footer__wrapper {
    margin-bottom: 50px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 599px) {
  .footer__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: #2D3538;
}

.footer__item + .footer__item {
  margin-top: 30px;
}

.footer__item a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #000;
}
.footer__item a:hover {
  color: #EFD2C2;
}

.footer__payment {
  -ms-flex-item-align: center;
      align-self: center;
  /*Mobile media */
}
@media (max-width: 899px) {
  .footer__payment {
    display: none;
  }
}

.footer__payment-mobile {
  display: none;
  /*Mobile media */
}
@media (max-width: 899px) {
  .footer__payment-mobile {
    display: block;
  }
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 899px) {
  .footer__icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 599px) {
  .footer__icons {
    gap: 30px;
  }
}

.footer__icons img {
  max-width: 80px;
}

/*# sourceMappingURL=main.css.map */