@font-face {
    font-family: 'Champagne-&-Limousines-Italic';
    src: url(../../fonts/Champagne-&-Limousines-Italic.woff);
}

@font-face {
    font-family: 'Champagne-&-Limousines-Bold';
    src: url(../../fonts/Champagne-&-Limousines-Bold.woff);
}

@font-face {
    font-family: 'Champagne-&-Limousines-Regular';
    src: url(../../fonts/Champagne-&-Limousines.woff);
}

@font-face {
    font-family: 'Champagne-&-Limousines-Bold-Italic';
    src: url(../../fonts/Champagne-Limousines-Bold-Italic.woff);
}