.logo {
    display: block;
    background-image: url(./../img/Header/logo.png);
    max-width: 229px;
    width: 100%;
    height: 56px;
    background-repeat: no-repeat;
    background-size: cover;

}