.slider {
    width: 100%;


}

.slider__container {
    max-width: 1200px;
    padding-right: 50px;
    padding-left: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    /* Tablet */
    @media (max-width: 1199px) {
        width: 900px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        width: 600px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        width: 100%;
    }
}

.slider__item {
    position: relative;
}

.slider__item-image {
    width: 100%;
    margin-bottom: 20px;

}


.slider__item-title {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.12;
    color: #000000;
    margin-bottom: 15px;
}

.slider__item-price {
    font-size: 20px;
    line-height: 1.15;
    color: #000000;
}




.slider__prev {
    position: absolute;
    top: 41%;
    left: 19px;
    background-image: url(../img/slider/prev.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    cursor: pointer;

    /*Mobile media */
    @media (max-width: 899px) {
        background-image: url(../img/slider/prev-mobile.svg);
        width: 20px;
        height: 28px;
    }
}

.slider__next {
    position: absolute;
    top: 41%;
    right: 0;
    background-image: url(../img/slider/next.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    cursor: pointer;

    /*Mobile media */
    @media (max-width: 899px) {
        background-image: url(../img/slider/next-mobile.svg);
        width: 20px;
        height: 28px;
        right: 12px;
    }

}