.title {
    font-size: 40px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 1.24px;
    color: #000000;

    &--mobile {

        /*Mobile XS media */
        @media (max-width: 599px) {
            font-size: 30px;
        }
    }

    &--minmobile {

        /*Mobile XS media */
        @media (max-width: 599px) {
            font-size: 13px;
        }
    }

}