.collaboration {
    padding-top: 100px;

    /*Mobile media */
    @media (max-width: 899px) {
        padding-top: 50px;
    }

    /*Mobile XS media */
    @media (max-width: 599px) {
        padding-top: 25px;
    }
}

.collaboration .contacts {
    padding-top: 0;
    padding-bottom: 0;
}

.collaboration__text {
    font-size: 25px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 50px;

    /*Mobile media */
    @media (max-width: 899px) {
        font-size: 20px;
    }

    /*Mobile XS media */
    @media (max-width: 599px) {
        font-size: 16px;
    }
}