.contacts {
    width: 100%;
    /*Mobile media */
    padding-top: 100px;

    @media (max-width: 899px) {
        padding-top: 50px;
    }

    /*Mobile XS media */
    @media (max-width: 599px) {
        padding-top: 25px;
    }
}

.contacts__map {
    width: 100%;
    margin-bottom: 50px;
}

.contacts__wrapper {
    display: flex;
    justify-content: space-around;
    background: rgba(239, 210, 194, 0.5);
    box-shadow: 0px 10px 20px rgba(211, 211, 211, 0.25);
    padding: 40px;

    /*Mobile media */
    @media (max-width: 899px) {
        flex-direction: column;
        row-gap: 50px;
    }
}

.contacts__info {
    width: 100%;
}

.contacts__title {
    display: flex;
    margin-bottom: 50px;

    /*Mobile media */
    @media (max-width: 899px) {
        justify-content: center;
    }

    /*Mobile XS media */
    @media (max-width: 599px) {
        font-size: 30px;
    }
}

.contacts__list li {
    margin-bottom: 50px;

    /*Mobile media */
    @media (max-width: 899px) {
        margin-bottom: 30px;
    }

    /*Mobile XS media */
    @media (max-width: 599px) {
        margin-bottom: 20px;
    }
}

.contacts__list li:last-child {
    margin-bottom: 0;
}

.contacts__list a {
    display: flex;
    align-items: center;
    color: #000;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    transition: 0.2s;

    &:hover {
        color: #000;
    }

    /*Mobile XS media */
    @media (max-width: 599px) {
        font-size: 13px;
    }

}


.contacts__list-location::before {
    display: inline-block;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    content: '';
    background-image: url(./../img/contacts/map-pin.svg);
    background-repeat: no-repeat;
    background-size: cover;

    /*Mobile XS media */
    @media (max-width: 599px) {
        margin-right: 10px;
    }
}

.contacts__list-phone::before {
    display: inline-block;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    content: '';
    background-image: url(./../img/contacts/tel.svg);
    background-repeat: no-repeat;
    background-size: cover;

    /*Mobile XS media */
    @media (max-width: 599px) {
        margin-right: 10px;
    }
}


.contacts__list-email::before {
    display: inline-block;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    content: '';
    background-image: url(./../img/contacts/mail.svg);
    background-repeat: no-repeat;
    background-size: cover;

    /*Mobile XS media */
    @media (max-width: 599px) {
        margin-right: 10px;
    }
}