.header {
    padding-top: 25px;

}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 16px;
    line-height: 0.8;
    color: $dark;

}

.header__list {
    display: flex;
    gap: 45px;
    align-items: center;

    /*Mobile media */
    @media (max-width: 899px) {
        display: none;
    }
}

.header__list a {
    transition: 0.2s;
    color: #000;

    &:hover {
        color: $powdery;
    }
}



.header__icons {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}


.header__search {
    width: 12px;
    height: 12px;
}

.header__bag {
    width: 12px;
    height: 12px;
}

.header__banner {
    background-image: url(./../img/Header/banner.png);
    max-width: 1600px;
    height: 825px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size: cover;
    margin-top: 25px;

    /*Tablet media */
    @media (max-width: 1199px) {
        height: 600px;
    }

    /*Mobile media */
    @media (max-width: 899px) {
        height: 500px;
    }

    /*Mobile XS media */
    @media (max-width: 599px) {
        background-image: url(./../img/Header/banner-mobile.png);
        height: 100%;
        margin-top: 25px;

    }

}

.header__banner-wrapper {
    padding-top: 230px;
    padding-bottom: 306px;

    /*Tablet media */
    @media (max-width: 1199px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    /*Mobile XS media */
    @media (max-width: 599px) {
        padding-top: 245px;
        padding-bottom: 41px;
        text-align: center;
    }
}

.header__title {
    font-size: 55px;
    line-height: 63px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 50px;

    /*Mobile media */
    @media (max-width: 899px) {
        font-size: 45px;
    }

    /*Mobile XS media */
    @media (max-width: 599px) {
        font-size: 35px;
        line-height: 40px;
        color: #fff;
        margin-bottom: 20px;
    }

}

.header__subtitle {
    font-size: 29px;
    line-height: 33px;
    color: #000000;
    max-width: 473px;

    /*Mobile media */
    @media (max-width: 899px) {
        font-size: 25px;
    }

    /*Mobile XS media */
    @media (max-width: 599px) {
        font-size: 20px;
        text-align: center;
        color: #fff;
    }
}




.header__offer {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    background: #2D3538;

    font-size: 40px;
    line-height: 0.86;
    color: $powdery;
    text-align: center;

    /*Mobile media */
    @media (max-width: 899px) {
        font-size: 30px;
    }

    /*Mobile XS media */
    @media (max-width: 599px) {
        font-size: 25px;
    }

    /*Mobile XS media */
    @media (max-width: 599px) {
        font-size: 15px;
        padding-top: 26px;
        padding-bottom: 26px;

    }
}