.return {
    padding-top: 100px;

    /*Mobile media */
    @media (max-width: 899px) {
        padding-top: 50px;
    }

    /*Mobile XS media */
    @media (max-width: 599px) {
        padding-top: 25px;
    }
}

.return__title {
    display: flex;
    margin-bottom: 50px;

    /*Mobile XS media */
    @media (max-width: 599px) {
        margin-bottom: 25px;
    }
}

.return__text {
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 20px;
    list-style-type: none;
    counter-reset: num;
    margin: 0 0 0 60px;

    /*Mobile media */
    @media (max-width: 899px) {
        font-size: 18px;
    }

    /*Mobile XS media */
    @media (max-width: 599px) {
        font-size: 14px;
    }
}

.return__text li {
    margin-bottom: 20px;
}



.return__header {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.return__text li {
    position: relative;
}

.return__text li:before {
    content: counter(num);
    counter-increment: num;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: -60px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding: 10px;
    border: 1px solid #e0aa99;
    text-align: center;
    font-size: 15px;
}

.return__list .return__list-item {
    position: relative;
    margin-bottom: 15px;
}

.return__list .return__list-item:last-child {
    margin-bottom: 0;
}

.return__list .return__list-item::before {
    position: absolute;
    content: "";
    top: 14px;
    left: -39px;
    width: 26px;
    height: 1px;
    background: #e0aa99;
}