.subscription {
    padding-top: 77px;
    padding-bottom: 77px;
    background: #EFD2C2;
}

.subscription__wrapper {
    display: flex;
    gap: 256px;
    align-items: center;
}

.subscription__text {
    max-width: 564px;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: 1.28px;

}

.subscription__button {
    padding: 11px 64px;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: 1.28px;
    color: #2D3538;
    background: #FFFFFF;
    cursor: pointer;
}